# Python versions and environment

__pycache__
.python-version
.envrc

# Build systems

build
dist
**/*.egg-info

# Apple specific

.DS_Store

# Unit testing

.pytest_cache
.coverage
.coverage.*
.nox
htmlcov

# dotenv, ignore all but the example file

.env
.env.*
!.env.example

# Virtual environments

.venv
venv

# PyCharm IDE

.idea

# VSCode IDE

.vscode
*.code-workspace

# MKDOCS documentation site

/site

# Packaging

uv.lock
libs/test_service_registry.db
libs/cgse-core/metrics.duckdb
install_influxdb3.sh
.pylintrc

# CGSE Specific

.migrate_influx_to_questdb.state.json
